.product_image
{

}
.image
{
	margin-right: -20px;
	height: 250px;
	width: 250px;
}
.product_head
{
	margin-left: 50px;
}
hr 
{
	border: 2px solid lightgrey;
}
.nav-tabs li a
{
	border-radius: 0 !important;
}

.review_text
{
	width: 100%;
	border: 0;
	border-bottom: 2px solid grey;
	background-color: #f2f2f2; 
	margin-bottom: 5px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 9px;
}
.textbox
{
	
}
.custom-buttom
{
	border: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;

}
.custom-buttom:hover
{
	background-color: grey;
}

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 